
<div class="row">
	<div class="text-center">
     	<h5><%= current_user.fullname%></h5>
	</div>
</div>

<ul class="nav nav-pills nav-stacked text-center">
	<li>
	  	<a href="/dashboard"> Index</a>
	</li>
	
	<li>
	    <a href="/dashboard/myproducts"> My products</a>
	</li>

	<li>
		<a href="/dashboard/billing">Billing</a>
	</li>

	<li>
	    <a href="/dashboard/account">Account</a>
	</li>

	<li>
	    <a href="/dashboard/help">Help</a>
	</li>

</ul>
