<div class="row" style="margin-top:30px;">
	
	<div class="col-md-2 well" style="margin-top:30px;">
		<%= render "menu"%>
	</div>	
	
	<div class="col-md-10" style="margin-top:30px;">
		<div class="page-header">
			<h1>Billing</h1>
		</div>
		<h2>My Products</h2>
		<div class="row">
			<table class="table table-striped table-hover text-center">
	           <thead>
	           		<td>Name</td>
	           		<td>Situation</td>
	           </thead>
	           <tbody>
	           	<tr>
	           		<td>Product1</td>
	           		<td>
	           			Payed
	           		</td>
	           	</tr>

	           		<tr>
	           		<td>Product1</td>
	           		<td>
	           			Payed 
	           		</td>
	           	</tr>
	           </tbody>
			</table>
		</div>

	</div>
</div>