<div class="row" style="margin-top:30px;">
	
	<div class="col-md-2 well" style="margin-top:30px;">
		<%= render "menu"%>
	</div>	
	
	<div class="col-md-10" style="margin-top:30px;">
		<h1>Welcome to dashboard</h1>
		<p>
			Here you can manage your products, get billing information
			and set your account. If you face some issue, please contact
			us, we will be happy to help you
		</p>
	</div>
</div>