<div class="row" style="margin-top:30px;">
	
	<div class="col-md-2 well" style="margin-top:30px;">
		<%= render "menu"%>
	</div>	
	
	<div class="col-md-10" style="margin-top:30px;">
		<h1>My Products</h1>
		<div class="row">
			<table class="table table-striped table-hover text-center">
	           <thead>
	           		<td>Name</td>
	           		<td>Options</td>
	           </thead>
	           <tbody>
	           	<tr>
	           		<td>Product1</td>
	           		<td>
	           			<button class="btn btn-success">
	           				Access
	           			</button>
	           		</td>
	           	</tr>

	           		<tr>
	           		<td>Product1</td>
	           		<td>
	           			<button class="btn btn-success">
	           				Access
	           			</button>
	           		</td>
	           	</tr>
	           </tbody>
			</table>
		</div>

	</div>
</div>