#logo{
	color:gray;
	font-size: 100px;
  text-shadow: 2px 2px lightgray;
}

.container{
    /*width: 600px*/;
}

.floated{
    float: left;
    /*width: 350px;*/
}

.tipbox{
	background-color:lightgray;
	border:1px solid black;
}

.clearfix {
  overflow: auto;
  zoom: 1;
}

.imageCenter img{
    display: block;
    margin-left: auto;
    margin-right: auto
}
