<!-- Modal -->
<div class="modal fade" id="myModal-<%=p.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        
        <strong>Number of analysed comments:</strong> <%= p.comments.count.to_s%>
        <p>
          <button class="btn btn-default">
           Export to PDF
          </button>
        </p>
        <% order_num_likes(p.comments).each_with_index do |x, i|%>  
          <% if i ==0 %>
            <div class="bg-success">
          <% else %>
            <div>
          <% end %>
          
            <h3><%= x["from"]["name"] %></h3>
            <em><%= x["created_time"] %></em>
            <p>
            <%= x["message"] %>
            </p>

            <h4>
              <%= x["like_count"] %> Likes
            </h4>

            <hr/>
          </div>

        <% end %>
        

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>