<ul class="nav nav-pills nav-stacked text-center">
	<li>
  	    <a href="/cosmo">Overview</a>
	</li>
    
    <!--
    <li>
       <a href="/cosmo/instagram">Instagram</a>
	</li>
	-->
	
	<li>
       <a href="/cosmo/facebook">Facebook</a>
	</li>

	<li>
       <a href="/cosmo/twitter">Twitter</a>
	</li>

	<li>
       <a href="/cosmo/clipping">New's Clipping</a>
	</li>
</ul>