<!-- Modal -->
<div class="modal fade" id="myModal-<%=p.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">

        <strong>Number of analysed retweets:</strong> <%= p["retweets_list"].count.to_s%>
        <p>
          <button class="btn btn-default">
           Export to PDF
          </button>
        </p>

        <% order_num_favorites(p["retweets_list"]).each_with_index do |x, i|%>
          
          <% if i ==0%>
            <div class="bg-success">
          <% else%>
            <div>
          <% end %>

            <p>
            <%= x["text"] %>
            </p>

            <span>
              <%= x["favorite_count"] %> Favorites
            </span>
            <hr/>
          </div>
        <% end %>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>