<script type="text/javascript">
$(document).ready(function(){
      $('.status').click(function() { $('.arrow').css("left", 0);});
      $('.photos').click(function() { $('.arrow').css("left", 80);});
      $('.videos').click(function() { $('.arrow').css("left", 160);});
    });
</script>


<div class="row text-center">
  <h3>Search for a keyword</h3>
  <input class="form-control" type="text" placeholder="Type some keywords"/>
  
  <p>
    <button class="btn btn-default">Search</button>
  </p>
</div>


<h3>Export your posts:</h3>
<div class="row">
  <%= link_to "Export to PDF", "/cosmo/facebook.pdf", :class => "btn btn-default" %>
</div>


<h3>Filter by:</h3>
<div class="row">
  <div class="col-md-5">
    <div class="dropdown col-md-4">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Post type
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="#">Status</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Video</a></li>
        <li><a href="#">Photo</a></li>
      </ul>
    </div>

    <div class="dropdown col-md-4">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Publication Year
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="#">2011</a></li>
        <li><a href="#">2012</a></li>
        <li><a href="#">2013</a></li>
        <li><a href="#">2014</a></li>
        <li><a href="#">2015</a></li>
        <li><a href="#">2016</a></li>
      </ul>
    </div>

    <div class="dropdown col-md-4">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Popularity
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="#">Ascendent</a></li>
        <li><a href="#">Descendent</a></li>
      </ul>
    </div>
  </div>
  
  <div class="col-md-6">
    <div class="dropdown col-md-4">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Number of Shares
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="#">Ascendent</a></li>
        <li><a href="#">Descendent</a></li>
      </ul>
    </div>

    <div class="dropdown col-md-4">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Number of reactions
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="#">Ascendent</a></li>
        <li><a href="#">Descendent</a></li>
      </ul>
    </div>

    <div class="dropdown col-md-4">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Number of comments
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="#">Ascendent</a></li>
        <li><a href="#">Descendent</a></li>
      </ul>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>



<div class="container">
  	<div class="row">
      <div class="col-md-10 col-md-offset-1">
        <ul class="timeline">
        
        <% @posts.each_with_index do |p, i|%>
           <%= render :partial => "commentsModal", locals: {:p => @posts_all.find(p.id)} %>  
          <% if( (i+1) % 2 == 0  )%>
            <li class="timeline-inverted">
          <%else%>
           <li>
          <%end%>
            <div class="timeline-badge primary" ><a title="<%= p.status_created_date%>"><i class="glyphicon glyphicon-time invert" id=""></i></a></div>
            <div class="timeline-panel">
              <div class="timeline-header">
                  <div class="row">
                        <a> <%= current_user.fullname%> </a> <br>
                        <em><%=p.status_created_date + " " + p.status_created_hour%> </em>
                    </div>
              </div>

              <div class="timeline-body">
                <p class="lead">
                  <%=p.status_message%>
                </p>
              </div>

              <div class="timeline-footer ">
               
                <p class="text-left">
                  <%=number_with_delimiter(p.status_num_reactions)%> Reactions: <br> 
                  
                  <%=number_with_delimiter(p.status_num_likes)%> likes,
                  <%= number_with_delimiter(p.status_num_loves)%> loves, 
                  <%=  number_with_delimiter(p.status_num_hahas)%> hahas <br> 
                  <%=  number_with_delimiter(p.status_num_wows)%> wows,
                  <%=  number_with_delimiter(p.status_num_angrys)%> angrys, 
                  <%=  number_with_delimiter(p.status_num_sads)%> sads 
                  
                </p>

                <div class="text-center">
                  <% if p.comments.count > 0 %>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal-<%=p.id%>">
                      <span class="badge"><%=p.status_num_comments%></span> Comments 
                    </button>
                  <% else %>
                    <button type="button" class="btn btn-primary disabled">
                      <span class="badge"><%=p.status_num_comments%></span> Comments 
                    </button>
                  <% end %>

                 <button type="button" class="btn btn-primary disabled">
                  <span class="badge"><%=p.status_num_shares%></span> Shares 
                 </button>
              </div>

              </div>
          </li>
        
        <%end%>
        
       </ul>
      </div>
    </div>
	</div>