<script type="text/javascript">
$(document).ready(function(){
      $('.status').click(function() { $('.arrow').css("left", 0);});
      $('.photos').click(function() { $('.arrow').css("left", 80);});
      $('.videos').click(function() { $('.arrow').css("left", 160);});
    });
</script>

<div class="row">
    <h3>Export your posts</h3>
    <%= link_to "Export to PDF", "/cosmo/twitter.pdf", :class => "btn btn-default" %>
</div>

<div class="container">
  	<div class="row">
      <div class="col-md-10 col-md-offset-1">
        <ul class="timeline">
        
        <% @tweets.each_with_index do |p, i|%>
           <%= render :partial => "retweetsModal", locals: {:p => @tweets.find(p.id)} %>  
          <% if( (i+1) % 2 == 0  )%>
            <li class="timeline-inverted">
          <%else%>
           <li>
          <%end%>
            <div class="timeline-badge primary" ><a title="<%= p.created_at%>"><i class="glyphicon glyphicon-time invert" id=""></i></a></div>
            <div class="timeline-panel">
              <div class="timeline-header">
                  <div class="row">
                        <a> <%= current_user.fullname%> </a> <br>
                        <em>shared <%=p.created_at%>  <%= p.created_at_hour%></em>
                    </div>
              </div>

              <div class="timeline-body">
                <p class="lead">
                  <%=p.text%>
                </p>
              </div>

              <div class="timeline-footer text-center">
               <button type="button" class="btn btn-primary disabled">
                <span class="badge"><%=p.favorite_count%></span> Favorites 
               </button>
                
                <% if p["retweets_list"].count > 0%>
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal-<%=p.id%>">
                    <span class="badge"><%=p.retweet_count%></span> Retweets 
                  </button>
                <% else %>
                   <button type="button" class="btn btn-primary disabled">
                    <span class="badge"><%=p.retweet_count%></span> Retweets 
                  </button>
                <% end %>

              </div>
          </li>
        
        <%end%>
        
       </ul>
      </div>
    </div>
	</div>