<div class="row">
	
	<div class="col-md-2 well" style="margin-top:30px;">
		<%= render "menu"%>
	</div>
	
	<div class="col-md-10" style="margin-top:100px;">
		<div>

		  <!-- Nav tabs -->
		  <ul class="nav nav-tabs" role="tablist">
		    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Statistics and charts</a></li>
		    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Your Posts</a></li>
		    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Your Public</a></li>
		    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Insights</a></li>
		  </ul>

		  <!-- Tab panes -->
		  <div class="tab-content">
		    <div role="tabpanel" class="tab-pane active" id="home">
                <div class="row text-center">
                	<p>
                		This statistics are from <em>2016-08-24</em> to <em>2016-08-31</em>
                	</p>
                	Switch to another period of time
                </div>
                <hr/>
                <div class="row">
				    <div class="col-md-4 text-center"> 
				    </div>
				    
				    <div class="col-md-4 text-center">
				    	Number of likes
				    	<h1><%=  number_with_delimiter(@about_facebook.fan_count_list[-1].values[0]) %></h1>
				    </div>

				    <div class="col-md-4 text-center">
				    	People talking about you
				    	<h1><%= number_with_delimiter(@about_facebook.talking_about_count_list[-1].values[0])%></h1>
				    </div>
				</div>

				<div class="row">	
 					<div class="col-md-1"></div>
				    <div class="col-md-4 text-center">
				    	<p>
					    	Number of posts
					    	<h2>
					    		<%= @posts_number.to_i %>
					    	</h2>
				    	</p>

				    	<p>
				    	  Total number of comments
                           <h2>
                           		<%= number_with_delimiter(@comments_number)%>
                           </h2>

                           Average number of comments by post
                           <h2>
                           	<%= number_with_delimiter(@average_comments_number)%>
                           </h2>
				    	</p>

				    	<p>
				    		Total number of reactions	
				    		<h2>
				    			<%= number_with_delimiter(@reactions_number) %>
				    		</h2>

				    		Average number of reactions by post
							<h2>
                           		<%= number_with_delimiter(@average_reactions_number)%>
                            </h2>
				    	</p>

				    </div>

				    <div class="col-md-6 text-center">
						<div id='chart1'></div>
				         <%= render_chart(@chart2, 'chart1') %>
				    	</div>
				    </div>
				    <div class="col-md-1"></div>
				</div>

				<div class="row">
					  <div class="col-md-4"></div>
		              <div class="col-md-4">
			              <div id='chart2'></div>
					      <%= render_chart(@chart3, 'chart2') %>
					  </div>	
					  <div class="col-md-4"></div>
				</div>

                <!--Post popularity by type -->
				<div class="row">
 					<div class="col-md-8">
 						<div id='chart4'></div>
				           <%= render_chart(@chart4, 'chart4') %>
				        </div>
 					</div>

 					<div class="col-md-4">
 						<h2>What is this?</h2>
 						Popularity :
 						(number of comments + reactions + shares) /post_type
 						<h2>Some tips</h2>
 					</div>
				</div>

				<ul>
					<li>Predict number of likes</li>
				</ul>

				<h2>Total people reached</h2>
				<h2>Total number of posts</h2>
				<ul>
					<li>Post type distribution: photo, link, video and status</li>
					<li>Which of those are most important to your public image?</li>
				</ul>
                
               
                </div>

				<h2>Number of likes/state chart</h2>

				<h2>Comments number evolution</h2>
				<h2>Posts number evolution</h2>
				<h2>Gender distribution evolution</h2>
				<h2>Relation post/likes evolution</h2>
				<h2>Relation post/angrys evolution</h2>
				<h2>Relation post/wows evolution</h2>
			    <h2>Relation post/hahas evolution</h2>
			    <h2>Relation post/sads evolution</h2>
				<h2>Relation post/comments evolution</h2>
				<h2>Relation post/negative comments evolution</h2>
				<h2>Relation post/positive comments evolution</h2>

		    </div>
		    <div role="tabpanel" class="tab-pane" id="profile">

              <div class ="row">
                	<h2>Your posts</h2>
					<ul>
						<li>Top words</li>
						<li>Top hashtags</li>
						<li>Rank of posts per reaction: hahas, wows, likes, sads, angrys</li>
						<li>Predict a post reaction</li>
					</ul>
                	<%= render "timeline", :object => @posts%>
              
              </div>
		    </div>
		    <div role="tabpanel" class="tab-pane" id="messages">
		    	<h2>Other profiles related to you</h2>
				<ul>
					<li>What are they talking about?</li>
					<li>Post type distribution: photo, link, video and status</li>
					<li>What is your like ranking between people related to you?</li>
				</ul>
		    </div>
		    <div role="tabpanel" class="tab-pane" id="settings">

		    </div>
		  </div>

		</div>

	</div>

</div>