<% content_for :page_javascript do%>
 <script src="//maps.google.com/maps/api/js?v=3.23&key= AIzaSyCq0eTxexLZQ8V8-f8IorGNiQ7cLQftn-U"></script>
  <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js">
  </script>
  <script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script> <!-- only if you need custom infoboxes -->
<% end%>

<script type="text/javascript">
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers([
        {
          "lat": 0,
          "lng": 0,
          "picture": {
            "url": "http://people.mozilla.com/~faaborg/files/shiretoko/firefoxIcon/firefox-32.png",
            "width":  32,
            "height": 32
          },
          "infowindow": "hello!"
        }
      ]);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    });
</script>


<div class="row" style="margin-top:30px;">
	<div class="col-md-2 well" style="margin-top:30px;">
		<%= render "menu"%>
	</div>
	<div class="col-md-10">
		<h1>Overview of your media</h1>
	    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Facebook
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
     <div class="panel-body">
    <div class="row">

    	<div class="col-md-4 text-center">
        Number of likes
        <h1><%=number_with_delimiter(@about_facebook.fan_count_list[-1].values[0]) %></h1>
      </div>
    	
      <div class="col-md-4 text-center">
    		Total number of posts
        <h1><%=@facebook_posts_count.to_i %></h1>
    	</div>

    	<div class="col-md-4 text-center">
    		People talking about you
    		<h1><%= number_with_delimiter(@about_facebook.talking_about_count_list[-1].values[0])%></h1>
    	</div>
    	
    </div>

   	<div class="row">
      <div class="col-md-3"></div>
        <div class="col-md-6">
		      <div>
		        <h3>Likes evolution</h3>
		        <div id='chart'></div>
		         <%= render_chart(@chart, 'chart') %>
		        </div>
	        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div>
          <h3>Talking about evolution</h3>
          <div id='chart3'></div>
             <%= render_chart(@chart3, 'chart3') %>
          </div>
        </div>
      </div>
      <div class="col-md-3"></div>       
    </div>


	</div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Twitter
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-3 text-center">
             <div class="row">
              
                <div class="col-md-8">
                    Number of followers
                  <h1>
                    <%=number_with_delimiter(@about_twitter.followers_count_list[-1].values[0])%>
                  </h1>

                </div>
             </div>
          </div>
          <div class="col-md-3 text-center">
          
               <p>
                  Total number of tweets <h3><%= number_with_delimiter(@ready_statistics_twitter.posts_count)%></h3>
              </p>


          </div>
          <div class="col-md-3"></div>
        </div>
      
    <div class="row">
       <div class="col-md-3"></div>
       <div class="col-md-6">
            <h3>Followers Evolution</h3>
            <div id='chart2'></div>
             <%= render_chart(@chart2, 'chart2') %>
            </div>
       </div>
       <div class="col-md-3"></div>
    </div>
    
      </div>
    </div>
  </div>
 
	</div>
</div>