
<div class="row" style="margin-top:30px;">
	<div class="col-md-2">
	  <%= render "menu"%>
	</div>
	<div class="col-md-8">
		<div class="row">
		  <% @instagram.each do |instagram| %> 
			  <div class="col-xs-6 col-md-3">
			    <a href="#" class="thumbnail">
			       <%= image_tag instagram.images.thumbnail.url %>
			    </a>
			  </div>
		  <% end %>
		</div>
	</div>
	<div class="col-md-2"></div>
</div>