<div class="row">

	
	<div class="col-md-2 well" style="margin-top:30px;">
		<%= render "menu"%>
	</div>
	

	<div class="col-md-10" style="margin-top:100px;">
		<div>

		  <!-- Nav tabs -->
		  <ul class="nav nav-tabs" role="tablist">
		    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Statistics and charts</a></li>
		    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Your Posts</a></li>
		    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Your Public</a></li>
		    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Insights</a></li>
		  </ul>

		  <!-- Tab panes -->
		  <div class="tab-content">
		    <div role="tabpanel" class="tab-pane active" id="home">


		    	<!--TAB1: General Statistics -->
				<h2>Total number of likes</h2>
				<ul>
					<li>Predict number of likes</li>
				</ul>
				<h2>Total people reached</h2>
				<h2>Total number of posts</h2>
				<ul>
					<li>Post type distribution: photo, link, video and status</li>
					<li>Which of those are most important to your public image?</li>
				</ul>

				<h2>Number of likes/country chart</h2>
				<h2>Number of likes/state chart</h2>

				<h2>Comments number evolution</h2>
				<h2>Posts number evolution</h2>
				<h2>Gender distribution evolution</h2>
				<h2>Relation post/likes evolution</h2>
				<h2>Relation post/angrys evolution</h2>
				<h2>Relation post/wows evolution</h2>
			    <h2>Relation post/hahas evolution</h2>
			    <h2>Relation post/sads evolution</h2>
				<h2>Relation post/comments evolution</h2>
				<h2>Relation post/negative comments evolution</h2>
				<h2>Relation post/positive comments evolution</h2>


		    </div>
		    <div role="tabpanel" class="tab-pane" id="profile">

              <div class ="row">
                	<h2>Your Tweets</h2>
					<ul>
						<li>Top words</li>
						<li>Top hashtags</li>
						<li>Rank of posts per reaction: hahas, wows, likes, sads, angrys</li>
						<li>Predict a post reaction</li>
					</ul>

					<div>
                       Filter by: 
                       Post type, Year, Popularity, Number of reactions, Number of Shares
					</div>
                	<%= render "tw_timeline", :object => @tweets%>
              
              </div>
		    </div>
		    <div role="tabpanel" class="tab-pane" id="messages">
		    	<h2>Other profiles related to you</h2>
				<ul>
					<li>What are they talking about?</li>
					<li>Post type distribution: photo, link, video and status</li>
					<li>What is your like ranking between people related to you?</li>
				</ul>
		    </div>
		    <div role="tabpanel" class="tab-pane" id="settings">

		    </div>
		  </div>

		</div>

	</div>

</div>