<div class="row" style="margin-top:30px;">
  <div class="col-md-3"></div>
  <div class="col-md-6 well">

  <h2>Sign up</h2>
  
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    
    <div class="field">
      <%= f.label :fullname %><br />
      <%= f.text_field :fullname, autofocus: true, :class=>"form-control" %>
    </div>

    <div class="field">
      <%= f.label :nickname %><br />
      <%= f.text_field :nickname, autofocus: true, :class=>"form-control" %>
    </div>

    <p>
      <label>Your Country</label>
    </p>

    <p>
      <%= f.input :country, :label=> false, :class=>"form-control"%>
    </p>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, :class=>"form-control" %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off", :class=>"form-control" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", :class=>"form-control" %>
    </div>

    <!--
    <div class="field">
      <%#= f.file_field "avatar"%>
    </div>
    -->
    <div class="field">
      <label>Your profile's category</label>
      <%= f.input :user_category, :label => false, :class=>"form-control", collection: ["Sports", "Music", "TV", "Literature", "Entertainment", "Beauty", "Religion", "Internet"], include_blank: false %>
    </div>
    
    <div class="actions text-center" style="margin-top:10px;">
      <%= f.submit "Sign up", :class=> "btn btn-success" %>
      <p>
         <%= render "devise/shared/links" %>
      </p>
    </div>
  <% end %>

 
  </div>
  <div class="col-md-3"></div>
</div>