<div class="row" style="margin-top:30px;">
  
  <div class="col-md-1"></div>
  <div class="col-md-10">
  	  <div class="row">
		  <div class="page-header">
		  	<h1>Who are we?</h1>
		  </div>
		  
		  <p>
	        We are a small, but high productive team. Our goal is extract 
	        big insights from social data, helping people to have a better
	        ideia of their audience on medias. In order to do that we use
	        the most powerful tools in artificial inteligence  
		  </p>
	  </div>

	  <div class="row">
		  <div class="page-header">
		  	<h1>Our team</h1>
		  </div>

		  <p>
		  	As said before, our team isn't too big, but we are ready to help you whenever you need.
		  </p>

		  <div class="row">
		    <div class="col-md-2">
             <%= image_tag "felipe_guerra.jpg", :class=>"img-rounded" %>
		    </div>
		    <div class="col-md-10">
		    	<h2>Felipe Guerra</h2>
            	<p class="lead">
 				 A young Software Developer who loves to build things to humans. One of her 
 				 primary goals is use technology to build a better world.
            	</p>
            </div>
		  </div>
		  
		  <div class="row"> 
		  	<div class="col-md-10">
		  		<h2>Cristiano Casagrande</h2>
		  		<p class="lead">
		  			About Cristiano
		  		</p>
		  	</div>
		  	<div class="col-md-2">
  			  <%= image_tag "cristiano_casagrande.jpg", :class=>"img-rounded" %>
		  	</div>          
          </div>

	  </div>
      



  </div>
  <div class="col-md-1"></div>



</div>