<div class="row" style="margin-top:30px;">
  
  <div class="row">
	  <div class="col-md-3"></div>
	  <div class="col-md-6 well">
       
       <div class="page-header">
	  	<h1>Contact us</h1>
	   </div>

       <form>
         <p>
          <label>Your name</labe>
         </p>

         <p>
  			<input type="text" class="form-control" placeholder="Your name" />
         </p>

         <p>
          <label>Your e-mail</label>
         </p>

         <p>
            <input type="text" class="form-control" placeholder="Your E-mail"/>
         </p>

         <p>
           <label>Message</label>
         </p>

         <p>
         	<textarea class="form-control" rows="3">
         	</textarea>
         </p>
         
         <p>
           <label>How would you classify your question</label>
         </p>

          <p>
	         <select class="form-control">
			  <option>Billing</option>
			  <option>Techinical problems</option>
			  <option>Suggestions</option>
			  <option>Service's cancelation</option>
			  <option>Other</option>
			</select>
         </p>

         <p class="text-center">
           <button class="btn btn-success" style="font-weight:bold;">
           	Submit
           </button>
         </p>

       </form>

	  </div>
	  <div class="col-md-3"></div>
  </div>

</div>