
<script>
  $(document).ready(function(){
    $('.bxslider').bxSlider();
    
  });
</script>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron jumbotron-bg">
        <div class="row">
        	<div class="col-md-2"></div>
          <div class="col-md-8">
		        <h1>Welcome to Comigo</h1>
		        <p>
                   Our goal is turn the process of social manangement easier and
                   cheapier. We use the most powerful tools available in the field
                   of artificial inteligence, summing up them and showing graphs, timelines and much more, whether you a business person, a celebrity or even a newspaper. 
		        </p>
		        <p>
		        	<a href="/home/about" class="btn btn-primary btn-lg">
		        		Learn more &raquo;
		        	</a>
		        </p>
          </div>
          <div class="col-md-2"></div>
        </div>
</div>

<div class="row">
   <div class="col-md-1"></div>
   <div class="col-md-10">

     <div class="page-header">
      <h1>Our products</h1>
     </div>

     <div class="row">
	     <div class="col-md-2"></div>
	     <div class="col-sm-6 col-md-4">
	       <div class="thumbnail">
	     
	         <div class="caption">
	           <h2 style="text-align:center;">Social metrics for big pages</h2>
	         
	        <p style="text-align:center;">
            Analise your social media's posts and fans reaction can be 
            a hard and even expensive task, when delegated to professionals or related and marketing comapanies. This product provides a powerful
            dashboard where you can see statistics about your content on 
            all your social networks.
	        </p>
            
            <h3>
               Available for
            </h3>

            <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-2">
                 <span>
                   <%= image_tag "icons/facebook-logo-button.png" %>
                 </span>
              </div>
              
              <div class="col-md-2">
                  <span><%= image_tag "icons/twitter-logo-button.png" %></span>
              </div>
              <div class="col-md-4"></div>
            </div>

          <div style="margin-top:10px;">
	         <p style="text-align:center;">
            <a href="/home/pricing/#sm-bigpages" class="btn btn-default" role="button">Learn more</a>
            </p>
          </div>
        
	      </div>
	    </div>
 	  </div>

 		<div class="col-sm-6 col-md-4">
 		<div class="thumbnail">
	    
	      <div class="caption">
	        <h2 style="text-align:center;">
	        	Social metrics for ordinary pages
	        </h2>
	        <p style="text-align:center;">
	        	We consider ordinary pages, those who have a small number of  
	        	followers (less than 5000). In this plan, we offer all the 
	        	benefits of social metrics for big pages, but with a small price.
	        	This product is perfect for personal pages and facebook groups.
	        </p>

	        <h3>
               Available for
            </h3>

            <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-2">
                 <span>
                  <%= image_tag "icons/facebook-logo-button.png" %>
                 </span>
              </div>
              
              <div class="col-md-2">
                 <span><%= image_tag "icons/twitter-logo-button.png" %></span>
              </div>
              <div class="col-md-4"></div>
            </div>

	        <div style="margin-top:10px;">
           <p style="text-align:center;">
            <a href="/home/pricing/#sm-ordinarypages" class="btn btn-default" role="button">Learn more</a>
            </p>
          </div>

	      </div>
	    </div>
	    </div>

	
    </div>

	</div>
    </div>
    </div>
    <div class="col-md-1"></div> 
</div>

