<div class="row" style="margin-top:30px;">
	
	<div id="sm-bigpages" class="row">
	  <div class="col-md-1"></div>
	  <div class="col-md-10">
        
        <div class="page-header">
	  	  <h1>Social metrics for big pages</h1>
	    </div>

	    <p>
          Do you have a large number of followers on your facebook or twitter account?
          If the answer is yes, you probabily faced some issues like difficulties
          to read all comments and get a idea of your follower's reaction to a post. But how do you know if between all those comments you didn't lost a work opportunity or a good insight to your career? How do you know the overall reaction of your posts? How do you identify and stop spammer or threats activities? And if you aren't sure about how could be your fan's reaction to a post? The answer for all those questions is <mark>Cosmo</mark>. See some of the functionalites available:
	    </p>
       
        <div class="row">
        	<div class="col-md-1">
        	<%= image_tag "icons/heart-rate-monitor.png", :style => "height:65px; width:65px;"%>
        	</div>
        	
        	<div class="col-md-11 text-left">
        	  <p class="lead">
              Followers counter of all your social networks along the months and years (starting from signature's date).  Age, gender and socioeconomics profile of your followers
              </p>
            </div>
        </div>

        <div class="row">
             
            <div class="col-md-11 text-left">
              <p class="lead">
               Draw of your fan's reaction a post or tweet, based on number of facebook reactions and sentimental analysis. Spam activity and threats alerts
               </p>
             </div>
            
            <div class="col-md-1">
            	<%= image_tag "icons/eye-button.png", :style => "height:65px; width:65px; " %>
        	</div>

        </div>


        <div class="row">
        	<div class="col-md-1">
        		<%= image_tag "icons/flask-outline.png", :style => "height:65px; width:65px; " %>
        	</div>

        	<div class="col-md-11 text-left">
        	 <p class="lead">
               Predict your fan's reaction for a new post, before even posting it.
               Get insights of other pages like yours. How they deliver content, 
               what can be improved?
             </p>
            </div>

        </div>

        <div class="row">
             <div class="col-md-11 text-left">
               <p class="lead">
                 All your social networks in a powerful and easy to use dashboard.
                 Recieve reports in PDF and other formats of your social networks
               </p>
             </div>
             
             <div class="col-md-1">
             	<%= image_tag "icons/folded-document-icon.png", :style => "height:65px; width:65px; " %>
             </div>
        </div>
        
        
        <div class="row">
          <div class="col-md-3 text-center">
          	<span class="text-success" style="font-weight:bold; font-size:30px;">
          		Contact us for pricing
          	</span>
          </div>

          <div class="col-md-6">
          	<p>
          	  <button class="btn btn-default">
                Order now
          	  </button>

          	  <button class="btn btn-default">
                Suggest to a friend
          	  </button>
            </p>
          </div>       
        </div>

	  </div>
	  <div class="col-md-1"></div>
	</div>


	<div id="sm-ordinarypages" class="row">
	  <div class="col-md-1"></div>
	  <div class="col-md-10">
	  	<div class="page-header">
	      <h1>Social metrics for ordinary pages</h1>
	    </div>

	    <p>
         Your page doesn't have so many followers and comments, but you
         don't want to expend time dealing with your different social networks?
         You want an integrated dashboard where you can see all of your posts,
         the comments and number of reaction withou having to login page after
         page? So, this is the right product for you! We provide all the functionalities of <a href="#">Social metrics for big pages</a>, but
         with a lower price and for a smaller number of followers (down to 5000, summing up facebook + twitter). See some of the functionalites available:
	    </p>

	    <div class="row">
        	<div class="col-md-1">
        	<%= image_tag "icons/heart-rate-monitor.png", :style => "height:65px; width:65px;"%>
        	</div>
        	
        	<div class="col-md-11 text-left">
        	  <p class="lead">
              Followers counter of all your social networks along the months and years (starting from signature's date).  Age, gender and socioeconomics profile of your followers
              </p>
            </div>
        </div>

        <div class="row">
             
            <div class="col-md-11 text-left">
              <p class="lead">
               Draw of your fan's reaction a post or tweet, based on number of facebook reactions and sentimental analysis. Spam activity and threats alerts
               </p>
             </div>
            
            <div class="col-md-1">
            	<%= image_tag "icons/eye-button.png", :style => "height:65px; width:65px; " %>
        	</div>

        </div>


        <div class="row">
        	<div class="col-md-1">
        		<%= image_tag "icons/flask-outline.png", :style => "height:65px; width:65px; " %>
        	</div>

        	<div class="col-md-11 text-left">
        	 <p class="lead">
               Predict your fan's reaction for a new post, before even posting it.
               Get insights of other pages like yours. How they deliver content, 
               what can be improved?
             </p>
            </div>

        </div>

        <div class="row">
             <div class="col-md-11 text-left">
               <p class="lead">
                 All your social networks in a powerful and easy to use dashboard.
                 Recieve reports in PDF and other formats of your social networks
               </p>
             </div>
             
             <div class="col-md-1">
             	<%= image_tag "icons/folded-document-icon.png", :style => "height:65px; width:65px; " %>
             </div>
        </div>
        
        
        <div class="row">
          <div class="col-md-3 text-center">
          	<span class="text-success" style="font-weight:bold; font-size:30px;">
          		Contact us for pricing
          	</span>
          </div>
		
		  <div class="col-md-6">
          	<p>
          	  <button class="btn btn-default">
                Order now
          	  </button>

          	  <button class="btn btn-default">
                Suggest to a friend
          	  </button>
            </p>
          </div>            
        </div>

	  </div>
	  <div class="col-md-1"></div>
	</div>

</div>