 
					   	  
<tr>
	<td id="tw-<%= h.user_nickname%>">
		<b>
			<%= h.user_nickname%>
		</b>
	</td>
					   	   			
	<td>
		<%= h.comment_text%>
	</td>
					   	   			
	<td>
		<% if h.reaction_type =="positive"%>
			<span class="label label-success">
				<%= h.reaction_type%>
			</span>
		<%elsif h.reaction_type =="negative"%>
			<span class="label label-danger">
				<%= h.reaction_type%>
			</span>
		<% else %>
			<span class="label label-default">
				<%= h.reaction_type%>
			</span>
		<% end %>
	</td>
					   	   			
	<td class="text-center">
		<div>
			<button data-toggle="modal" data-target="#myModal-<%=h._id%>" class="btn btn-success" type="button" aria-haspopup="true" aria-expanded="true">
				Feedback
				</button>
		</div>
							
		<!-- Modal -->
		<div class="modal fade" id="myModal-<%=h._id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
					
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Feedback</h4>
				</div>
				
				<div class="modal-body">
					<%= simple_form_for :update, { url: update_interaction_path(h.id) } do |f| %>
													
						<p><%= h.comment_text%></p>
						
						<p>
							<label>
								Which reaction would you classify this comment?
							</label>
						</p>
						
						<p>
						<%= f.input :suggested_category, :label=>false, :class=>"form-control", collection: ["Positive", "Negative", "Neutral", "Job's Proposal", "Danger", "Spam", "Recomendation"], include_blank: false %>
						</p>

						<p class="text-center">
							<%= f.submit "Send", :class=> "btn btn-primary"%>
						</p>
					<% end %>
				</div>
			</div>
		</div>
	</div>

	<p>
		<%= link_to "Destroy", destroy_interaction_path(:id => h._id), :remote => true, :class => "btn btn-danger" %>
	</p>

	</td>
</tr>
				