
<div class="row">
	<div class="text-center">
     		<h5><%= current_user.fullname%> </h5>
     		<span class="label label-success">Admin</span>
	</div>
</div>

<ul class="nav nav-pills nav-stacked text-center">
	<li>
	  	<a href="/panel">Index</a>
	</li>
	
	<li>
		<a href="/panel/trainai/all">Train AI</a>
	</li>

	<li>
	    <a href="/panel/manageproducts">Manage products</a>
	</li>

	<li>
	    <a href="/panel/manageusers">Manage users</a>
	</li>

	<li>
	    <a href="/panel/account">Account</a>
	</li>
</ul>

