<div class="row" style="margin-top:30px;">
	
	<div class="col-md-2 well" style="margin-top:30px;">
		<%= render "menu"%>
	</div>	
	
	<div class="col-md-10" style="margin-top:30px;">
		<h1>Account</h1>
		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		  <div class="panel panel-default">
		    <div class="panel-heading" role="tab" id="headingOne">
		      <h4 class="panel-title">
		        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
		          Social Networks
		        </a>
		      </h4>
		    </div>
		    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
		      <div class="panel-body ">
		     		<small>
		     			Leave blank what you don't want to change
		     		</small>

					<%= simple_form_for :manage_sn_accounts, { url: manage_sn_accounts_path } do |f| %>
		     		<h2>Facebook</h2>
  					<p>
  						<label>Page link</label>
  					</p>

  					<p>
  						Follow this pattern: <mark>htttp://www.facebook.com/your_user_name</mark>(e.g htttp://www.facebook.com/felipeguerrabr). To figure out your username, see <a href="#">how to figure out my facebook username</a>.
  					</p>
  					
  					<p>
  						<%= f.input :fb_page_link, :label=> false, :class=>"form-control", :placeholder=>  @user.fb_page_link%>
  					</p>

		     		<h2>Twitter</h2>
		     		<p>
  						<label>Twitter username</label>
  					</p>
  					<p>
  						<%= f.input :tw_username, :label=> false, :class=>"form-control", :placeholder=>  "@" + @user.tw_scr_name%>
  					</p>

  					<p class="text-center">
  						<%= f.button :submit, "Update", :class=>"btn btn-primary" %>
  					</p>
  					<% end %>

		     	
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading" role="tab" id="headingTwo">
		      <h4 class="panel-title">
		        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
		          Profile
		        </a>
		      </h4>
		    </div>
		    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
		      <div class="panel-body">
		      		
 				<%= simple_form_for :profile, { url: manage_user_profile_path } do |f| %>
		     		<h2>Profile</h2>
  					
  					<p>
  						<label>Your Full Name</label>
  					</p>
  					
  					<p>
  						<%= f.input :name, :label=> false, :class=>"form-control", :placeholder=>  @user.fullname%>
  					</p>

  					<p>
  						<label>Primary used language</label>
  					</p>
  					
  					<p>
  						This basic tell us the language which you most use on your posts or tweets.
  					</p>

  					<p>
  						<%= f.input :language, :label=> false, :class=>"form-control", :placeholder=> @user.language%>
  					</p>

  					<p>
  						<label>Your Country</label>
  					</p>

  					<p>
  						<%= f.input :country, :label=> false, :class=>"form-control", :placeholder=>  @user.country%>
  					</p>

		     		<p>
  						<label>E-mail</label>
  					</p>
  					<p>
  						<%= f.input :email, :label=> false, :class=>"form-control", :placeholder=> @user.email%>
  					</p>

  					<p class="text-center">
  						<%= f.button :submit, "Update", :class=>"btn btn-primary" %>
  					</p>
  					<% end %>


		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading" role="tab" id="headingThree">
		      <h4 class="panel-title">
		        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
		         Account details and notifications
		        </a>
		      </h4>
		    </div>
		    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
		      <div class="panel-body">

		      	<h2>Password</h2>
		      	<%= simple_form_for :account, { url: manage_account_path } do |f| %>
				  <%= f.hidden_field :reset_password_token %>
				  <div class="field">
				    <%= f.label :password, "New password" %><br />
				    <% if @minimum_password_length %>
				      <em>(<%= @minimum_password_length %> characters minimum)</em><br />
				    <% end %>
				    <%= f.password_field :password, autofocus: true, autocomplete: "off", :class=>"form-control" %>
				  </div>

				  <div class="field">
				    <%= f.label :password_confirmation, "Confirm new password" %><br />
				    <%= f.password_field :password_confirmation, autocomplete: "off", :class=>"form-control" %>
				  </div>

				  <div class="actions text-center", style="margin-top:10px;">
				    <%= f.submit "Change my password", :class=>"btn btn-primary" %>
				  </div>
				<% end %>

				<%= simple_form_for :notifications, { url: manage_notifications_path } do |f| %>
					<h2>Notifications</h2>
					<p>
						We usually notify you weekly by e-mail with reports. Here you can choose wether
						to recieve or not those reports and which address should we send them.
					</p>

					<p>
						<label>Recieve reports?</label>
					</p>

					<p>
						<%=  f.collection_radio_buttons :recieve_reports, [[true, 'Yes'] ,[false, 'No']], :first, :last%>
					</p>


					<p>
						<label>E-mail address to recieve reports</label>
					</p>

					<p>
  						<%= f.input :email, :label=> false, :class=>"form-control", :placeholder=> @user.email%>
  					</p>

  					<p class="text-center">
  						<%= f.button :submit, "Update", :class=>"btn btn-primary" %>
  					</p>
  					
				<% end %>


		      </div>
		    </div>
		  </div>
		</div>
	</div>
</div>