<div class="row" style="margin-top:30px;">
	
	<div class="col-md-2 well" style="margin-top:30px;">
		<%= render "menu"%>
	</div>	
	
	<div class="col-md-10" style="margin-top:30px;">
	   <div class="page-header">	
		<h1>
			Manage Users
		</h1>
	   </div>

	   <div class="lead">
	   	 All users
	   </div>

	   <table class="table table-striped table-hover">
	   		<thead>
	   			<th>Fullname</th>
	   			<th>Nickname</th>
	   			<th>E-mail</th>
	   			<th>Products</th>
	   		</thead>

	   		<tbody>
	   			<% for u in @users%>
	   				<tr>
	   					<td><%= u.fullname%></td>
	   					<td><%= u.nickname%></td>
	   					<td><%= u.email%></td>
	   					<td><%= join_products(u.products) %></td>
	   				</tr>

	   			<% end %>
	   		</tbody>
	   </table>

	</div>
</div>