<div class="row" style="margin-top:30px;">
	
	<div class="col-md-2 well" style="margin-top:30px;">
		<%= render "menu"%>
	</div>	
	
	<div class="col-md-10" style="margin-top:30px;">
       <div class="row">
       	  <div class="page-header">
       	  	<h1>List of products</h1>
       	  </div>

       	  <table class="table table-striped table-hover">
       	  	<theader>
       	  		<th>Name</th>
       	  		<th>Description</th>
       	  	</theader>

       	  	<tbody>
       	  		<tr>
       	  		  <td>
       	  		  	Cosmo
       	  		  </td>

       	  		  <td>
       	  		  	Social metrics for big pages
       	  		  </td>

       	  		</tr>
       	  	</tbody>
       	  
       	  </table>

       </div>


	   <div class="row">
		   <div class="page-header">	
			<h1>
				Manage products
			</h1>
		   </div>

		   <div class="lead">
		   	 Add a product to an existing user
		   </div>

		   <div class="row">
		   	   <div class="col-md-3"></div>
		   	   <div class="col-md-6 well">
			   <%= simple_form_for :manageproduct, { url: add_product_to_user_path } do |f| %>
				  
				  <p>
				  	<label>User E-mail</label>
				  </p>

				  <p>
				  <%= f.input :user_email, collection: @user_emails, :as => :select, :label => false, :include_blank => false %>
				  </p>
				  
				   <p>
				  	<label>Product Name</label>
				  </p>

				  <p>
				  <%= f.input :product_name, collection: @products, :as => :select, :label => false, :include_blank => false %>
				  </p>

				  <p class="text-center">
				  	Make sure to only click on Add button if the user paid the initial
				  	bill.
				  </p>

				  <div class="text-center">
				  	<%= f.button :submit, "Add", :class=>"btn btn-primary" %>
				  </div>
				<% end %>
				</div>
				<div class="col-md-3"></div>
			</div>
		</div>

	</div>
</div>