<div class="row" style="margin-top:30px;">
	
	<div class="col-md-2 well" style="margin-top:30px;">
		<%= render "menu"%>
	</div>	
	
	<div class="col-md-10" style="margin-top:30px;">
       <div class="page-header">
       	  <h1>Feedback comment's classification</h1>
   	   </div>

   	   <div>

		  <!-- Nav tabs -->
		  <ul class="nav nav-tabs" role="tablist">
		  	<li role="presentation" class="active"><a href="#already-validated" aria-controls="home" role="tab" data-toggle="tab">Already Validated</a></li>
		    <li role="presentation" ><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Facebook</a></li>
		    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Twitter</a></li>
		  </ul>

		  <!-- Tab panes -->
		  <div class="tab-content">
		  	  <div role="tabpanel" class="tab-pane active" id="already-validated">
			   	   <% if !@human_interactions_validated.blank?%>
			   	   

			   	   <b>Number of already validated comments:</b>
			   	   <%=@human_interactions_validated_count%> 
                   
                   <h1>Numbers</h1>
                   
                   <div class="row">
                   	   <div class="col-md-2"></div>
	                   <div class="col-md-8">
		                   <table class="table table-striped table-hover">
		                   	<thead>
		                   		<th>User</th>
		                   		<th>Number of validated comments</th>
		                   		<th>Number of validated retweets</th>
		                   	</thead>
		                   	<tbody>
		                   		<% for u in @users %>
		                   			<tr>
		                   				<td>
		                   					<b>
		                   						<%= u.nickname%>
		                   					</b>
		                   				</td>

		                   				<td>
		                   					<%= number_of_validated_comments(u.nickname)%> /
		                   					<%= total_number_of_comments(u.nickname) %>
		                   				</td>
		                   				
		                   				<td>
		                   					<%= number_of_validated_retweets(u.nickname)%> / 
		                   					<%= total_number_of_retweets(u.nickname) %>
		                   				</td>

		                   			</tr>
		                   		<% end %>
		                   	</tbody>                        
		                   </table>
	                   </div>
	                   <div class="col-md-2"></div>
	                </div>

                   <h1>List</h1>
			   	   <div class="row">
			   	   	   <div class="col-md-2"></div>
			   	   	   <div class="col-md-8">
					   	   <table class="table table-striped table-hover">
						   	   	<thead>
						   	   		<th>User</th>
						   	   		<th>Text</th>
						   	   		<th>Reaction</th>
						   	   	</thead>
						   	   	
							   	<tbody>
							   	   	<% for h in @human_interactions_validated%>
							   	   		<tr>
							   	   			<td>
							   	   				<b>
							   	   					<%= h.user_nickname%>
							   	   				</b>
							   	   			</td>
							   	   			<td>
							   	   				<%= h.comment_text%>
							   	   			</td>
							   	   			
							   	   			<td>
							   	   				<% if h.reaction_type =="positive"%>
							   	   					<span class="label label-success">
							   	   						<%= h.reaction_type%>
							   	   					</span>
							   	   				<%elsif h.reaction_type =="negative"%>
							   	   					<span class="label label-danger">
							   	   						<%= h.reaction_type%>
							   	   					</span>
							   	   				<% else %>
							   	   					<span class="label label-default">
							   	   						<%= h.reaction_type%>
							   	   					</span>
							   	   				<% end %>
							   	   			</td>
							   	   			
							   	   		</tr>
							   	   	<% end %>
							   	</tbody>
					   	   </table>
				   		</div>
				   	   <div class="col-md-2"></div>
				   	  </div>
			   	   <%else%>
				   	   <div class="row">
					   	   <p>
					   	   	<h1 class="text-center">
					   	   		No validated comments to show yet :(
					   	   	</h1>
					   	   </p>
				   		</div>
			   	   <% end %>

		    </div>


		    <div role="tabpanel" class="tab-pane" id="home">
		    	   <% if !filter_not_validated(@human_interactions_facebook).blank?%>
		    	   	<div class="row text-center">
			    	   	<h4>Fast navigation</h4>
			    	   	<% for u in filter_not_empty_users(@users, "facebook") %>
			    	   		<a href="/panel/trainai/<%= u.nickname%>">
			    	   			<%= u.nickname%>
			    	   		</a>
			    	   	<% end %>
		    	   </div>
		    	    <div class="row">
		    	    	<div class="col-md-2"></div>
			    	    <div class="col-md-8">
				    	    <table class="table table-striped table-hover" style="width:600px; max-width:600px;">
						   	   	<thead>
						   	   		<th>User</th>
						   	   		<th>Text</th>
						   	   		<th>Reaction</th>
						   	   		<th>Options</th>
						   	   	</thead>
						   	   	
							   	<tbody id="fb-tbody">
							   	  <% for h in filter_not_validated(@human_interactions_facebook)%>
					   	       		<%= render :partial => "humaninteractionfacebook", locals: {:h => @human_interactions.find(h._id)} %>
					   	   		  <% end %>
					   	   		</tbody>
					   	   	</table>
				   	   </div>
				   	   	<div class="col-md-2"></div>
			   	    </div>

			   	   <% else %>
			   	   		<div class="row">
				   	   		<p>
					   	   	<h1 class="text-center">
					   	   		No facebook comments to show yet :(
					   	   	</h1>
					   	   </p>
				   	   </div>
			   	   <% end %>
		    </div>
		    <div role="tabpanel" class="tab-pane" id="profile">
		    	 <% if !filter_not_validated(@human_interactions_twitter).blank?%>
			   	    
			   	   	<div class="row text-center">
			    	   	<h4>Fast navigation</h4>
			    	   	<% for u in filter_not_empty_users(@users, "twitter") %>
			    	   		<a href="/panel/trainai/<%= u.nickname%>">
			    	   			<%= u.nickname%>
			    	   		</a>
			    	   	<% end %>
		    	   </div>
		    	    <div class="row">
		    	    	<div class="col-md-2"></div>
		    	    	<div class="col-md-8">
					   	    <table class="table table-striped table-hover">
						   	   	<thead>
						   	   		<th>User</th>
						   	   		<th>Text</th>
						   	   		<th>Reaction</th>
						   	   		<th>Options</th>
						   	   	</thead>
						   	   	
							   	<tbody id="tw-tbody">
					   	    		<% for h in filter_not_validated(@human_interactions_twitter)%>
					   	    			<%= render :partial => "humaninteractiontwitter", locals: {:h => @human_interactions.find(h._id)} %>
					   	    		<% end %>
		                    	</tbody>
		                    </table>
	                	</div>
	                    <div class="col-md-2"></div>

                	</div>

			   	   <% else%>
			   	  	  <div class="row">
			   	  		<p>
				   	   	<h1 class="text-center">
				   	   		No tweets to show yet :(
				   	   	</h1>
				   	   </p>
				   	</div>
			   	   <% end %>
		    </div>

		  </div>

		</div>



	</div>
</div>

