// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron{
	background-image: image-url("comigo-bg.jpg");
	background-size: cover;
}
