<h1>6. Resumo</h1>

<ul>
	<li>País com maior número e fãs: <b id="FbMostFansCountry"></b> </li>
	<li>País com menor número de fãs:<b id="FbLessFansCountry"></b> </li>
	<li>Tipo de post mais publicado: <b id="FbMostPostType"></b> </li>
	<li>Tipo de post mais popular: <b id="FbMostPopularPostType"></b> </li>
	<li>Reação geral do seu público: <b id="FbOverallReaction"></b> </li>
	<li>Dia da semana que você mais posta no Facebook: <b id="FbMostPostedDayOfWeek"></b></li>
	<li>Dia da semana que você teve maior repercussão no Facebook: <b id="FbMostRepercutionDay"></b></li>
    <li>Dia da semana que você mais posta no Twitter: <b id="TwMostPostedDayOfWeek"></b></li>
    <li>Dia da semana que você teve maior repercussão no Twitter: <b id="TwMostRepercutionDay"></b></li>
</ul>