<% flash.each do |key, value| %>
  <div class="alert alert-warning">
    <a href="#" data-dismiss="alert" class="close">×</a>
      <p class="text-center" style="font-weight:bold;">
      	<%= value %>
  	  </p>
  </div>
<% end %>
